nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3fdb9b;
    z-index:10;
    text-align: center;

}

/*nav :after {
    content: '';
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}*/

nav a {
    /*float: left;*/
    width: 20%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    /*color:red;*/
}
